.mimg {
  width: 80px;
}
.right {
  background-image: url(../../assets/images/Mask\ Group.png);
  background-size: cover;
  background-color: #d0c2b3;
}
.head {
  color: #fff;
  font-size: 74px;
  font-style: normal;
  font-weight: 800;
  line-height: 96%;
  text-transform: uppercase;
}

.para {
  color: #c98a40;
  width: 235px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.trans {
  transform: translateX(-276px);
}
.img11 {
  position: absolute;
  top: 95px;
  left: 558px;  
}
.img22 {
  width: 140px;
  position: absolute;
  top: 336px;
  right: 144px;
}

.trans{
    transform: translateX(182px);
}